{% extends 'base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {% if interview %}
   		 {{ interview }}
    {% endif %}
   	{% if rounds %}
    <hr>
   		{{ form.as_p }}
      <p> {{ interview.position.rating_sheet }} Fields </p>
      {% for aspect in interview.position.rating_sheet.aspect_set.all %}
        <p>
          {{ aspect }}
          <select name="{{aspect}}_aspect"><
          {% for num in rating_range %}
            <option value={{num}}>{{num}}</option>
            {% endfor %}
          </select>
        </p>
      {% endfor %}
   		<input type="submit" value="Submit" />
   	{% else %}
   		<h3>No rounds found</h3>
   	{% endif %}



</form>

{% endblock %}
