{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method='POST'>
    <div class="form-group">
    {% csrf_token %}
    {{ form.as_p }}
    </div>
    {{formset.management_form}}
    <hr>
    <table class="table">
        <thead>
                    <tr>
                        <th>Text</th>
                        <th>Correct?</th>
                        <th>Delete?</th>
                    </tr>
                </thead>
        <tbody class="table">
            {% for form in formset %}
                {{ form.id }} <!--This is just for handling an error during save after editing -->
            	<tr >
            	<td> {{ form.detail }}{{ form.detail.errors }}</td>
            	<td>{{ form.correct }}</td>
                {% if form.instance.pk %}
            	   <td>{{ form.DELETE }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            	</tr>
                {% endfor %}

        </tbody>
    </table>

	<input class="btn btn-lg btn-primary" type="submit" name="Save" value="Save">
	</div>
</form>
{% endblock %}
