{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >


<div class="container">

    <h1>Create Interview</h1>

        <form method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <p>Note: Date format is yyyy-mm-dd</p>

            </div>
            {{formset.management_form}}
            <hr>
            <table class="table">
            <thead>
                        <tr>
                            <th>Heading</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Assigned To</th>
                            <th>Round Type</th>
                            <th>Result</th>
                        </tr>
                    </thead>
            <tbody class="table">
            {% for form in formset %}
                {{ form.id }} <!--This is just for handling an error during save after editing -->
                <tr>
            <td> {{ form.name }} {{ form.name.errors }}</td>
            <td>{{ form.date }} {{ form.date.errors }}</td>
            <td>{{ form.contact_time }} {{ form.contact_time.errors }}</td>
            <td>{{ form.assignee }} {{ form.assignee.errors }}</td>
            <td>{{ form.round_type }} {{ form.round_type.errors }}</td>
            <td>{{ form.result }} {{ form.result.errors }}</td>
            </tr>

            {% endfor %}
            </tbody>
            </table>
            <input type="submit" name="Save" value="Save Interview">
            </div>
        </form>

</div>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/actions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>


{% endblock %}



