{% extends 'base.html' %}

{% block content %}

<form method="get">
    {{ filter.form.as_p }}

    <p>Note: Year format is YYYY-mm-dd</p>
    <button class="btn btn-primary btn-lg" type="submit">Search</button>
  </form>


<h1>Search Results: {{ filter.count }}</h1>
<div class="panel panel-default">
    <table class="table">
    	<tr>
                <th>Name</th>
                <th>Date</th>
                <th>Position</th>
                <th>Status</th>
                <th>Result</th>
            </tr>
    {% for interview in interviews %}
    <tr>
        <td><a href={% url 'Evaluator:interview_details' interview.pk %}>{{ interview }}</a></td>
        <td>{{ interview.date }} </td>
        <td>{{ interview.position.name }} </td>
        <td>{{ interview.get_status_display }} </td>
        <td>{{ interview.get_result_display }} </td>
    </tr>
    {% endfor %}
	</table>

</div>

{% if interviews.has_other_pages %}
  <ul class="pagination">
    {% if interviews.has_previous %}
      <li><a href="?page={{ interviews.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in interviews.paginator.page_range %}
      {% if interviews.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if interviews.has_next %}
      <li><a href="?page={{ interviews.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
