{% extends 'base.html' %}

{% block content %}

<form method="get">
    {{ filter.form.as_p }}
    <button class="btn btn-primary" type="submit">Search</button>
  </form>


<h1>Search Results</h1>
<div class="panel panel-default">
    <table class="table">
    	<tr>
                <th>Name</th>
                <th>Date</th>
                <th>Position</th>
                <th>Status</th>
                <th>Result</th>
            </tr>
    {% for interview in filter.qs %}
    <tr>
        <td><a href={% url 'Evaluator:interview_details' interview.pk %}>{{ interview }}</a></td>
        <td>{{ interview.date }} </td>
        <td>{{ interview.position.name }} </td>
        <td>{{ interview.get_status_display }} </td>
        <td>{{ interview.get_result_display }} </td>
    </tr>
    {% endfor %}
	</table>

</div>

{% endblock %}
