{% extends 'base.html' %}

{% block content %}

<h1>Name : {{ user.first_name}} {{ user.last_name}} </h1>
<h3>Email: {{ user.email }}</h3>
<h3>Groups: {% if user.groups.all %}
				{% for group in user.groups.all %}
					{{ group.name }}
				{% endfor %}
			{% else %}
			None
			{% endif %}</h3>

{% if rounds %}
	<table class="table">
	        	<tr>
	                <th>Round</th>
	                <th>Date Taken</th>
	                <th>Interview Link</th>
	                <th>Rating Link</th>
	            </tr>

	{% for round in rounds %}
		{% if round.interviewratingsheet %}
		        <tr>
		            <td>{{ round.name }} </td>
		            <td>{{ round.date }}</td>
		            <td><a href={% url 'Evaluator:interview_details' round.interview.pk %}>{{ round.interview }}</a></td>
		            <td><a href={% url 'Evaluator:rating_details' round.interviewratingsheet.pk %}>View Ratings</a></td>
		        </tr>
		{% endif %}
	{% endfor %}
	</table>
{% endif %}

{% endblock %}
