{% extends 'base.html' %}

{% block content %}
<h1>{{ interview }}</h1>
         <p>Position : {{ interview.position.name }}</p>
         <p>Name : {{ interview.candidate.name }}</p>
         <p>Date : {{ interview.date|date }}</p>
         <p>Status : {{ interview.get_status_display }}</p>
            {% if interview.question_set.pk %}
              <p>Result : {{ interview.get_result_display }}</p>
              <p>Exam Link : <a href={% url 'Evaluator:question_set_details' interview.question_set.pk %}>{{interview.question_set.name}}</a></p>
            {% endif %}

        {% if rounds %}
        <h3>Round Details</h3>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Created On</th>
                    <th>Date Scheduled</th>
                    <th>Time</th>
                    <th>Assignee</th>
                    <th>Type</th>
                    <th>Result</th>
                </tr>
            {% for round in rounds %}
            <tr>
                <td>{{ round.name }}</td>
                <td>{{ round.created_at }}</td>
                <td>{{ round.date}}</td>
                <td>{{ round.contact_time }}</td>
                <td>{{ round.assignee.username }}</td>
                <td>{{ round.get_round_type_display  }}</td>
                <td>{{ round.get_result_display }}</td>
            </tr>
            {% endfor %}
        {% endif %}

        <a href={% url 'Evaluator:addRating' %}>Add Ratings</a>


{% endblock %}
