{% extends 'base.html' %}

{% block head %}
<title>{{user.first_name}}'s Profile</title>
{% endblock %}

{% block content %}
<div class="col-md-10">
<p><h3>Welcome {{ user.first_name }} {{user.last_name}}</h3></p>
<p><h3> Interviews Scheduled : {% for interview in interview_today %}</h3></p>
    <ul class="list-group">
     <p><li class="list-group-item list-group-item-info">{{ forloop.counter }}. Position : {{ interview.position.name }}</p>
     <p>Name : {{ interview.candidate.name }}</p>
     <p>Date : {{ interview.date|date }}</p>
     <p>Status : {{ interview.get_status_display }}</p>
     <p>Result : {{ interview.get_result_display }}</p></li>
    {% endfor %}
    </ul>
</div>
<div class="col-md-2">
    <div class="row well">
        Text
        Line
        Line
    </div>
    <div class="row well" style="margin-bottom: 10px; margin-top: 50px">
        <h3 style="margin-top:0px;margin-bottom:20px"><span  class="label label-primary">Interview Tools</span></h3>
        <p>Schedule Interview</p>
        <p>Edit Interviews</p>
        <p>Cancel Interviews</p>
    </div>
    <div class="row well" style="margin-bottom: 50px; margin-top: 20px">
            <h3 style="margin-top:0px;margin-bottom:20px"><span  class="label label-primary">Candidate</span></h3>
            <p><a href="{% url 'Evaluator:add_candidate' %}">Add Candidate</a></p>
            <p><a href="{% url 'Evaluator:search_candidate' %}">Edit Candidate</a></p>
            <p>Remove Candidate</p>
    </div>

    <div class="row">
	<div class="well">
        <h3 style="margin-top:0px;margin-bottom:20px"><span  class="label label-primary">Question Designing</span></h3>
	    <p><a href="{% url 'Evaluator:add_question' %}">Add Question</p>
        <p><a href="{% url 'Evaluator:search_question' %}">Edit Question</p>
	</div>    
    </div>
</div>
{% endblock %}
