{% extends 'base.html' %}

{% block head %}
<title>{{request.user.first_name}}'s Profile</title>
{% endblock %}

{% block content %}
<div class="col-md-10">
<p><h3>Welcome {{ request.user.first_name }} {{request.user.last_name}}</h3></p>
<p><h3> Upcoming rounds : {% for round in my_rounds %}</h3></p>
    <ol class="list-group">
     <p>
        <li class="list-group-item list-group-item-info">
            <strong>{{ forloop.counter }}. Position : </strong>{{ round.interview.position.name }}
    </p>
         <p><strong>Candidate Name :</strong> {{ round.interview.candidate.name }}</p>
         <p><strong>Date :</strong> {{ round.date|date }} at {{ round.contact_time }} </p>
         <p><strong>Type : </strong>{{ round.get_round_type_display }}</p>
         <p><strong>Interview Link: </strong><a href={% url 'Evaluator:interview_details' round.interview.pk %}>{{round.interview}}</a></p>
                {% if request.user.is_superuser %}
                  <p><strong>Result : </strong><span class="label label-info">{{ round.interview.get_result_display }}</span></p>
                {% endif %}
                {% if round.interview.question_set.pk %}
             	  <p><strong>Exam Link : </strong><a href={% url 'Evaluator:question_set_details' round.interview.question_set.pk %}>{{round.interview.question_set.name}}</a></p>
                {% endif %}
        </li>

    {% endfor %}
    </ol>
</div>
<div class="col-md-2">
    <div class="row well">
        Text
        Line
        Line
    </div>
    <div class="row well" style="margin-bottom: 10px; margin-top: 50px">
        <h3 style="margin-top:0px;margin-bottom:20px"><span  class="label label-primary">Interview Tools</span></h3>
        <p><a href="{% url 'Evaluator:add_interview' %}">Schedule Interview</a></p>
        <p><a href="{% url 'Evaluator:all_interview' %}">All Interviews</a></p>
    </div>
    <div class="row well" style="margin-bottom: 20px; margin-top: 20px">
            <h3 style="margin-top:0px;margin-bottom:20px"><span  class="label label-primary">Candidate</span></h3>
            <p><a href="{% url 'Evaluator:add_candidate' %}">Add Candidate</a></p>
            <p><a href="{% url 'Evaluator:all_candidates' %}">All Candidates</a></p>
    </div>

    <div class="row well">
        <h3 style="margin-top:0px;margin-bottom:20px"><span  class="label label-primary">Question Designing</span></h3>
	    <p><a href="{% url 'Evaluator:add_question' %}">Add Question</p>
        <p><a href="{% url 'Evaluator:search_question' %}">Edit Question</p>
    </div>
	<div class="row well">
        <h3 style="margin-top:0px;margin-bottom:20px"><span  class="label label-primary">Exam Tools</span></h3>
	    <p><a href="{% url 'Evaluator:allQueSets' %}">All QuestionSets</p>
       	    <p><a href="{% url 'Evaluator:createQuestionSet' %}">Create Que Set</p>
    </div>
</div>
{% endblock %}
