{% extends 'base.html' %}

{% block content %}

{% if rating_sheet %}
	<h1>Ratings for Interview Round: {{ rating_sheet.round_name.name }}</h1>
	<div class="panel panel-default">
    <table class="table">
    	<tr>
            <th>Title</th>
            <th>Description</th>
            <th>Points</th>
        </tr>
    {% for aspect in aspects %}
    <tr>
        <td>{{ aspect.name }} </td>
        <td>{{ aspect.description }}</td>
        <td>{{ aspect.points }} </td>
    </tr>
    {% endfor %}
	</table>
    
</div>
{% endif %}

{% endblock %}