{% extends 'base.html' %}

{% block content %}

{% if rating_sheet %}
	<h1>Ratings for Interview Round: {{ rating_sheet.round_name.name }}</h1>
	<div class="panel panel-default">
        <table class="table">
        	<tr>
                <th>Title</th>
                <th>Comment</th>
                <th>Points</th>
            </tr>
        {% for aspect in aspects %}
        <tr>
            <td>{{ aspect.name }} </td>
            <td>{{ aspect.comment }}</td>
            <td>{{ aspect.points }} </td>
        </tr>
        {% endfor %}
    	</table>



    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <div id="container"></div>
    <button class="btn btn-default" id="button">Flip Y Axis</button>
    <hr>

    <script>
    var chart = new Highcharts.Chart({
      chart: {
          renderTo: 'container'
      },
      title: {
          text: 'Ratings Graph'
      },
      yAxis: {
        reversed: true,
    },
      xAxis: {
          categories: {{ aspects_name|safe }},
      },
      series: [{
          name: 'Ratings Recieved',
          data: {{ aspects_points }},
          color: 'blue',

      }]
      });


var reversed = chart.options.yAxis;
  // the button action
  $('#button').click(function () {

     chart.yAxis[0].update({
            reversed: !reversed
        });
     reversed = !reversed;
     });

</script>
{% endif %}

{% endblock %}
