{% extends 'base.html' %}
{% block content %}

<!---This is a form for searching for candidates.---->

<form method="get">
	<div class="row">
        <div class="col-md-6">
    		<h2>Search</h2>
            <div id="search">
                <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Your keyword" name="keyword"/>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit" name="Search" value="Search">
                            <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                </div>
            </div>
        </div>
	</div>

{% if error_message %}
    <h2>{{ error_message}}</h2>
{% else %}
    {% for item in search_list  %}
        <p>{{ item.name }}</p>
        <p>{{ item.description }}</p>
    {% endfor %}
{% endif %}

{% endblock %}
