{% extends 'base.html' %}
{% block content %}

<!---This is a form for searching for candidates.---->

<form method="get">
	<div class="row">
        <div class="col-md-6">
    		<h2>Search</h2>
            <div id="search">
                <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Your keyword" name="keyword"/>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit" name="Search" value="Search">
                            <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                </div>
            </div>
        </div>
	</div>

{% if error_message %}
    <h2>{{ error_message}}</h2>
{% else %}
    {% if candi_list %}
   	 {% for candidate in candi_list  %}
    		<p>{{ candidate.name }} | {{ candidate.position_applied }} | {{ candidate.contact_primary }} <a href={% url 'Evaluator:edit_candidate' candidate.pk %}>Edit</a></p>
	{% endfor %}
    {% elif question_list  %}
	 {% for question in question_list %}
	 	<p>{{ question.description }}<a href={% url 'Evaluator:edit_question' question.pk %}>Edit</a></p>
    	{% endfor %}
    {% endif %}
{% endif %}
{% endblock %}
